<%= form_for character do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :gender %>
		<%= f.text_field :gender %>
	</div>
	<div>
		<%= f.label :bio %>
		<%= f.text_area :bio %>
	</div>
	<div>
		<%= f.collection_select 'video_game_ids', VideoGame.all, :id, :title, {:title => 'line_item[video_game_ids][]'} %>
	</div>
	<div>
		<%= f.submit 'Save This Character' %>
	</div>
<% end %>